<!-- wp:template-part {"slug":"header","theme":"wydegrid","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"light-shade","layout":{"type":"constrained","contentSize":"1180px"}} -->
<main class="wp-block-group has-light-shade-background-color has-background" style="padding-top: 24px; padding-right: var(--wp--preset--spacing--40); padding-bottom: 24px; padding-left: var(--wp--preset--spacing--40)">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"24px","right":"24px"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
  <div class="wp-block-group has-light-color-background-color has-background" style="padding-top: 24px; padding-right: 24px; padding-bottom: 24px; padding-left: 24px">
    <!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
    <main class="wp-block-group">
      <!-- wp:woocommerce/store-notices /-->

      <!-- wp:post-content {"align":"wide"} /-->
    </main>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/page-content-wrapper -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wydegrid","tagName":"footer"} /-->
